
/**
============================================
admin job portal form style 
============================================
*/
.input-large{

	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.label-required{
	color: red;
	font-size: 20px; 
}

label{

	font-size: 20px;
	color: black;
}
.meta-th{
 padding-top: 10px;
 padding-bottom: 10px;
}
.error{

	color: red;
	font-size: 12px;
	float: left;
	
}